<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns="http://www.w3.org/ns/widgets"
		xmlns:gap ="http://phonegap.com/ns/1.0"
		
		versionCode ="11"
		version ="1.0.0">
		
		<name> Point of Sale </name>
		<description>
			An app that is used at a point of sale
		</description>
		<author href="hVp://www.ashesi.edu.gh" email="migaliza.lyza@gmail.com">>
			Beatrice Migaliza
		</author>
		<gap:plugin name="com.phonegap.plugins.barcodescanner" version="2.2.0" />
		<gap:plugin name="cordova-plugin-whitelist" source="npm" />
		<allow-navigation href="data:*" />
		<allow-intent href="*" />
		<access origin="*" />
		
	</widget>
	

